RABBITMQ_URL=amqp://rabbitmq:000000@localhost:5672/
REDIS_URL=redis://redis:000000@localhost:6379/0
DATABASE_URL=postgresql://postgres:000000@localhost:5432/manga_db

RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=000000
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

REDIS_USERNAME=redis
REDIS_PASSWORD=000000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

DB_USERNAME=postgres
DB_PASSWORD=000000
DB_HOST=localhost
DB_NAME=manga_db
DB_PORT=5432
